<h3><%= t('greeting') %>, <%= @user.first_name %>!</h3>

<p><%= t('instruction') %></p>

<p><%= link_to t('action'), ENV['RESET_PASSWORD_LINK'] + "#{@user.reset_password_token}"%></p>
<!-- ENV['RESET_PASSWORD_LINK'] -->

<p><%= t('instruction_2') %></p>
<p><%= t('instruction_3') %></p>
