<h3><%= t('greeting') %>, <%= @user.first_name %>!</h3>

<p><%= t('instruction') %></p>

<p><%= link_to t('action'), "http://localhost:1111/reset_password?reset_password_token=#{@user.reset_password_token}" %></p>

<p><%= t('instruction_2') %></p>
<p><%= t('instruction_3') %></p>
