<h1><%= t('greeting') %> <%= @user.first_name %>!</h1>

<p><%= t('instruction') %></p>

<p><%= link_to t('action'), edit_password_url(@user, reset_password_token: @token) %></p>

<p><%= t('instruction_2') %></p>
<p><%= t('instruction_3') %></p>
